<p>
	<%= f.label "name" %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label "age" %>
	<%= f.number_field :age %>
</p>
<p>
	<%= f.label "email" %>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label "phone" %>
	<%= f.phone_field :phno %>
</p>

<p>
	<%= f.submit %>
</p>