<h1>Employee Profile</h1>

<p>
	Name: <%= @employee.name %>
</p>
<p>
	Age: <%= @employee.age %>
</p>
<p>
	Email: <%= @employee.email %>
</p>
<p>
	Phone: <%= @employee.phno %>
</p>

<p><%= link_to "back",  employees_path %></p>